# Node modules
node_modules/

# Cypress videos and screenshots
cypress/videos/
cypress/screenshots/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Cypress cache
.cache
